In [2]:
import pandas as pd

df = pd.read_csv('./data/census.csv')

df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

<class 'type'>

In [1]:



for cat_feature  in df[category].unique():
        filtered_df = df[df[category] == cat_feature]

NameError: name 'df' is not defined

In [2]:
line = ("Precision {:2.2f}, Recall {:2.2f}, F1 {:2.2f}".format(
                1, 2, 3))

In [4]:
line

'Precision 1.00, Recall 2.00, F1 3.00'

In [1]:
type(cls)

NameError: name 'cls' is not defined

NameError: name 'cls' is not defined